/Readings
/*.pdf

/openpi_og
LegislativeHarness/

Code_Libero/

.DS_Store

outputs/

__pycache__/

source.txt
checkpoints/

*.egg-info

Demo/
*.mp4

*.part
*.zip
*.pt
*.bin
*.safetensors
*.h5
*.npz
vlabench_pi0/VLABench/assets/
